<div class="card" style="width: 20rem;">
	{% if instance.image %}
	<a href="{{ instance.get_absolute_url }}"><img class="card-img-top img-fluid" src="{{ instance.image.url }}" alt="{{ instance.title }} logo"></a>
	{% endif %}
	<div class="card-block mt-3 mb-3 ml-3 mr-3">
		<h4 class="card-title">{{ instance.title }}</h4>
		<p class="card-text">{{ instance.description|truncatewords:12 }}</p>
		<a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
		{% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
		<!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a> -->
	</div>
</div>